$color-title-bg: rgb(255, 255, 255);
$color-title-fg: black;
$color-primary:#ff0000;
$color-primary-personality:#09ff00;
$color-primary-newsitem:#f700ff;
$color-primary-product: #fbff00;
$color-primary-weather: #0400ff;
$color-background-soft:#f0f0f0;
$color-background-tag:#2332bc;